*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* mix */
.margin__right{
    margin-right: 15px;
}

.general__input{
    border: none;
    font-size: 40px;
    color: black;
}

.general__input::placeholder{
    color: black;
}

.coupon__input{
    background: rgba(252, 187, 64, 0.5);
    border-radius: 5px;
    border: none;
    width: 55%;
    padding: 5px;
}

/* buttons */

.btn{
    background-color: #fcbb40;
    padding: 20px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    font-weight: bolder;
}

body{
    width: 40%;
    height: 100vh;
    background-color: #fff5e2;
}

/* header */
header{
    background-color: #fcbb40;
    height: 150px;
}

header h1{
    padding: 45px 0 30px 30px ;
    font-size: 50px;
}

/* main */

main {
    height: calc( 100vh - (100px + 150px ));
    background-color: white;
    overflow-y: scroll
}

/* creazione hamburger */
#burger__name{
    margin: 20px 0 20px 30px ;
}

#ingredients__calculate h2{
    margin: 0 0 20px 30px;
}

#ingredients__calculate ul{
    list-style: none;
    margin-left: 30px;
}

.ingredient__list {
    display: flex;
    flex-wrap: wrap;
}

.ingredient__element{
    display: flex;
    align-items: center;
    width: 50%;
    flex-shrink: 0;
    margin-bottom: 20px;
}

.ingredient__element img{
    width: 100px;
    height: auto;
    
}

.ingredient__element p, span{
    font-size: 18px;
    font-weight: bold;
}

/* sezione coupon */
.coupon__section{
    display: flex;
    align-items: center;
    margin: 20px 0 30px 30px;
}


.button__container{
    text-align: center;
}

/* footer */

#price__sect{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px 20px 30px;
    background-color: #d83434;
    height: 100px;
    color: white;
}

#price__sect h2{
    font-weight: bolder;
    font-size: 40px;
}

#total__price{
    font-weight: bolder;
    font-size: 40px;
}